.feedback-page-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.portfolio-card-container {
    flex: 1;
}

.feedbacks-container {
    flex: 1;
}

@media (max-width: 768px) {
    .feedback-page-container {
        flex-direction: column;
    }
}
